

body * {
  /* border-style: double;
  padding: 1px;
  margin: 3px; */
  /* text-align: center; */
  vertical-align: middle;
  /* border-width: 5px; */
  /* font-size:x-large; */
}

header {
  height: 100px;
  width: 95%;
  padding-right: 8px;
  /* text-align: center;
  border-width: 5px;
  font-size:x-large; */
  /* border-bottom: solid black 5px; */
}

/* relative positioning and transform to center h1 in header container vertically*/
header > h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  font-family: Segoe Print;
}

/* absolute positioning of state seal at top right of header */
#state-seal {
  width: 100px; 
  height: 100px;
  position: absolute;
  top: 10px;
  right: 5%;
}

.container {
  width: 95%;
  display: flex;
  overflow: auto;
  border: solid black 5px;
  /* border-left: solid black 5px;
  border-right: solid black 5px; */

    /* flex-flow: row wrap; */
}

.inline-img {
  float: right;
  height: 200px;
  padding: 5px 50px 5px 50px;
}


section {
  height: 100%;
}

/* .container, main, section, table, td > img {
    display: flex;
} */

th {
  width: 15%;
  font-size:larger;
}
td {
  width: auto;

}
td > img {
  width: 300px;
  object-fit: contain;
/* centers alt-text */
  display: flex;
  justify-content: space-evenly;
}

/* Creates divider between rows of table */
table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;

}
th:not(th:first-child),td:not(td:first-child) {
  border-left: 3px black solid;
}

tr:not(tr:first-child) {
  border-top: 5px black solid;
}

nav {
  flex: 0 0 15%;
  font-size: large;
}

main {
  flex: 1 1 auto;
  /* display: flex;
  flex-flow: column; */
  flex-grow: 1;
}
main > * {
  flex: 1;
}

aside {
  flex: 0 0 20%;
}


a:hover {
  color: green;
}

nav.home-nav {
  width: 95%;
  text-align: center;
  font-size: larger;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: solid black 5px;
  /* border: solid black 5px; */
  border-left: solid black 5px;
  border-right: solid black 5px;
}

nav.vertical {
  font-size: large;
  padding: 6px;
  border-right: solid black 5px;
}

aside {
  font-size: large;
  padding: 6px;
  border-left: solid black 5px;
}

body {
  background-color:blanchedalmond;
}